<div class="container">
    <div [hidden]="submitted">
        <h1>Formation Form</h1>
        <form (ngSubmit)="onSubmit()" #formationForm="ngForm">
            <div class="form-group">
                <label for="nom">Nom</label>
                <input type="text" name="nom" id="nom" minlength="2" class="form-control" required
                [(ngModel)]="formation.nom" #nom="ngModel">
                <div [hidden]="nom.valid || nom.pristine" class=" alert alert-danger">Le nom doit comporter plus de 2 caractères</div>
            </div>

            <!--
            <div class="form-group">
                <label for="description">Descritpion</label>
                <input type="text" name="description" id="nom" minlength="20" class="form-control" required
                [(ngModel)]="formation.description" #description="ngModel">
                <div [hidden]="description.valid || description.pristine" class=" alert alert-danger">La descirption doit comporter plus de 20 caractères</div>
            </div>
            -->

            <button type="submit" class="btn btn-success" [disabled]="!formationForm.form.valid">Submit</button>
      
        </form>
    </div>

    <div [hidden]="!submitted">
        <h2>You submitted the following:</h2>
        <div class="card">
            <p>Nom : {{formation.nom}}</p>
            <!--<p>Descritpion : {{formation.description}}</p>-->
        </div>
        <button type="button" class="btn btn-primary" (click)="submitted=false">Modifier</button>
        <button type="button" class="add-button" (click)="submitFormation(formation)">
          Confirm
        </button>
    </div>
</div>
