

  
 <body>
  <div *ngIf="participants">
    <h1>Participants: </h1>
    
    <!--https://angular.io/tutorial/first-app/first-app-lesson-13-->
    <input type="text" placeholder="Search for names.." onkeydown="filterParticipants(filter.value)" #filter>
    <button class="primary" type="button" (click)="filterParticipants(filter.value)">Search</button>
    
    <table id="myTable" class="table table-dark table-hover">
      <thead>
        <tr>
          <th>id</th>
          <th>Nom</th>
          <th>Prenom</th> 
          <th>Email</th>
          <th>Ville</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let participant of filteredParticipants">
          <td>{{ participant.id }}</td>
          <td>{{ participant.nom }}</td>
          <td>{{ participant.prenom  }}</td>
          <td>{{ participant.mail }}</td>
          <td>{{ participant.adresse.ville }}</td>
          <td>
            <button type="button" [routerLink]="['/user/bob']" class="btn btn-secondary btn-sm" style="margin:5px;">
              <i class="bi bi-info-square"></i>
            </button> 
            <button type="button" (click) = "handleDelete(participant)" class="btn btn-secondary btn-sm" style="margin:5px;">
              <i class="bi bi-trash3"></i>
            </button>
        </td>

        </tr>
        <tr>
          <button type="button" class="btn btn-secondary btn-sm" style="margin:5px;"><i class="bi bi-person-fill-add"></i></button>
        </tr>
      </tbody>
    </table>
  </div>

 
</body> 
