

#section1{
    background-color: #1F487E;
    color: white;
}

#section2{
    background-color: #ffffff;
    color: #1F487E;
    display: flex;
    justify-content: center;

}

#contener-section2{
    width: 80%;
}

#section3{
    background-color: #ffffff;
    color: #1F487E;
    display: flex;
    justify-content: center;
}

#contener-section3{
    width: 80%;
    text-align: right;
}


#section4 {
    background-color: #1F487E;
    color: #ffffff;
    padding-top: 50px;
    padding-bottom: 50px;
  }
  
  #contener-section4 {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  
  #ul {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    list-style: none;
    font-weight: bold;
    padding-left: 0px;
    margin-bottom: 0px;
  }
  
  .li {
    display: flex;
    background-color: #ffffff;
    color: #1F487E;
    width: 150px;
    height: 150px;
    justify-content: center;
  }
  
  .div{
    display: flex;
    align-items: center;
    height: 150px;
    width: 100px;
    font-size: 16px;
    text-shadow: 1px 1px blue;
  }
  
  #chiffre{
    align-self: center;
    margin-bottom: 20px;
  }


#title{
    font-weight: bold;
    text-align: center;
}

#contener-img1{
    display: flex;
    justify-content: center;
    height: 450px;
    padding-top: 20px;
    padding-bottom: 20px;
}

#img1{
    height: auto;
    width: 100%;
}
