

#section1{
    background-color: #1F487E;
    color: white;
}

#section2{
    background-color: #ffffff;
    color: #1F487E;
}

#title{
    font-weight: bold;
    text-align: center;
}

#img1{
    height: 450px;
    text-align: center;
    
}
