

<app-navbar/>
<div class="footer-basic">
  <footer>
    <div class="social"><a href="https://www.linkedin.com/" target="_blank"><i class="bi bi-linkedin"></i></a><a
        href="https://www.twitter.com/" target="_blank"><i class="bi bi-twitter"></i></a><a
        href="https://www.facebook.com/" target="_blank"><i class="bi bi-facebook"></i></a><a
        href="https://www.youtube.com/" target="_blank"><i class="bi bi-youtube"></i></a></div>

    <ul class="list-inline">
      <li class="list-inline-item"><a href="#">Home</a></li>
      <li class="list-inline-item"><a href="#">Services</a></li>
      <li class="list-inline-item"><a href="#">About</a></li>
      <li class="list-inline-item"><a href="#">Terms</a></li>
      <li class="list-inline-item"><a href="#">Privacy Policy</a></li>
    </ul>

    <ul class="list-inline">
      <li class="list-inline-item"><a href="#">Tel : 04.24.58.50.10</a></li>
      <li class="list-inline-item"><a href="#">Mail : Contact@plus3.com</a></li>
      <li class="list-inline-item"><a href="#">Adresse : 9 Chemin de la Formation</a></li>
    </ul>

    <div id="fin">
      <div class="container text-center">
        <p class="text-muted mb-0 py-2">© 2023 Plus3 All rights reserved.</p>
      </div>
    </div>
  </footer>

</div>






<router-outlet></router-outlet>
