.gif-container {
    width: 50px; /* Adjust the container size as needed */
    height: auto;
    overflow: hidden; /* Clip the animated image */
  }
  
  .moving-gif {
    animation: moveAnimation 5s linear infinite; /* Adjust animation duration and timing as needed */
    max-width: 100%; /* Ensure the image doesn't exceed the container size */
  }
  
  @keyframes moveAnimation {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(100%); /* Move the image to the right; you can use other values and properties for different animations */
    }
  }
  
  
  
  .navbar a{
  color: white;
  }
  
  .dropdown-menu{
  background-color: #376996;
  }
  
  .dropdown-menu :hover{
  color:#6290C8 ;
  }
  