<p>user-form works!</p>
<div class="container">
    <div [hidden]="submitted">
      <h1>User form</h1>
      <form (ngSubmit)="onSubmit()" #userForm="ngForm">
        
        <div class="form-group">
          <label for="nom">nom</label>
          <input type="text" class="form-control" id="nom"
                 required
                 [(ngModel)]="model.nom" name="nom"
                 #nom="ngModel">
          <div [hidden]="nom.valid || nom.pristine"
               class="alert alert-danger">
            nom is required
          </div>
          </div>
        
          <div class="form-group">
            <label for="prenom">prenom</label>
            <input type="text" class="form-control" id="prenom"
                   required
                   [(ngModel)]="model.prenom" name="prenom"
                   #prenom="ngModel">
            <div [hidden]="prenom.valid || prenom.pristine"
                 class="alert alert-danger">
              prenom is required
            </div>
            </div>
          
        <div #adresseForm>
          <div class="form-group">
            <label for="numeroVoie">numeroVoie</label>
            <input type="number" class="form-control" id="numeroVoie"
                   required
                   [(ngModel)]="model.adresse.numeroVoie" name="numeroVoie"
                   #numeroVoie="ngModel">
            <div [hidden]="numeroVoie.valid || numeroVoie.pristine"
                 class="alert alert-danger">
              numeroVoie is required
            </div>
          </div>
    
          <div class="form-group">
            <label for="typedeVoie">Type de Voie</label>
            <select class="form-control" id="typedeVoie"
                    required
                    [(ngModel)]="model.adresse.typeVoie" name="typedeVoie"
                    #typedeVoie="ngModel">
              <option *ngFor="let typedeVoie of typedeVoies" [value]="typedeVoie">{{typedeVoie}}</option>
            </select>
            <div [hidden]="typedeVoie.valid || typedeVoie.pristine" class="alert alert-danger">
              typedeVoie is required
            </div>
          </div>
  
          <div class="form-group">
            <label for="nomdeVoie">nomdeVoie</label>
            <input type="text" class="form-control" id="nomdeVoie"
                   required
                   [(ngModel)]="model.adresse.nomVoie" name="nomdeVoie"
                   #nomdeVoie="ngModel">
            <div [hidden]="nomdeVoie.valid || nomdeVoie.pristine"
                 class="alert alert-danger">
              nomdeVoie is required
            </div>
            </div>

            <div class="form-group">
              <label for="codePostal">codePostal</label>
              <input type="text" class="form-control" id="codePostal"
                     required
                     [(ngModel)]="model.adresse.codePostal" name="codePostal"
                     #codePostal="ngModel">
              <div [hidden]="codePostal.valid || codePostal.pristine"
                   class="alert alert-danger">
                codePostal is required
              </div>
              </div>

              <div class="form-group">
                <label for="ville">ville</label>
                <input type="text" class="form-control" id="ville"
                       required
                       [(ngModel)]="model.adresse.ville" name="ville"
                       #ville="ngModel">
                <div [hidden]="ville.valid || ville.pristine"
                     class="alert alert-danger">
                  ville is required
                </div>
                </div>
            
        </div>

        <div class="form-group">
          <label for="mail">e-mail</label>
          <input type="text" class="form-control" id="mail"
                 required
                 [(ngModel)]="model.mail" name="mail"
                 #mail="ngModel">
          <div [hidden]="mail.valid || mail.pristine"
               class="alert alert-danger">
            mail is required
          </div>
        </div>
       
        <div class="form-group">
          <label for="entreprise">entreprise</label>
          <input type="text" class="form-control" id="entreprise"
                 required
                 [(ngModel)]="model.entreprise" name="entreprise"
                 #entreprise="ngModel">
          <div [hidden]="entreprise.valid || entreprise.pristine"
               class="alert alert-danger">
            entreprise is required
          </div>
          </div>

        
  
        <button type="submit" class="btn btn-success" [disabled]="!userForm.form.valid">Submit</button>
        <button type="button" class="btn btn-default" (click)="newUser(); userForm.reset()">New user</button>
      </form>
    </div>



    <div [hidden]="!submitted">
    <h2>You submitted the following:</h2>
    <div class="row">
      <div class="col-xs-3">Nom</div>
      <div class="col-xs-9">{{ model.nom }}</div>
    </div>
    <div class="row">
      <div class="col-xs-3">Prenom</div>
      <div class="col-xs-9">{{ model.prenom }}</div>
    </div>
    <div class="row">
      <div class="col-xs-3">Adresse</div>
      <div class="col-xs-9">{{ model.adresse.getFullAdresse() }}</div>
    </div>
    <div class="row">
      <div class="col-xs-3">email</div>
      <div class="col-xs-9">{{ model.mail }}</div>
    </div>
    <div class="row">
      <div class="col-xs-3">Entreprise</div>
      <div class="col-xs-9">{{ model.entreprise }}</div>
    </div>
    
    <br>
    <button type="button" class="btn btn-primary" (click)="submitted=false">Edit</button>
    </div>
    </div>    